#!/bin/bash

# For some shell scripts you have to provide your AWS security key pairs. 
# If you don't have them yet, please create them in the AWS console. 
# Then store the .pem file on your disk and provide the path to the file in the following variable.
# Finally you may want to save the file as env.sh. 
# You can then do `source env.sh`. 

export SMART_HEATING_PEM={PLEASE PROVIDE THE PATH TO smart_heating.pem}
